{% extends 'base.html.twig' %}

{% block title %}Hello SuccesTicketController!{% endblock %}

{% block body %}


<div class="example-wrapper">
        Ticket ADD Successfully !!
</div>
{% endblock %}
